body {
    background-color: #ecf0f1;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #2c3e50;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
    font-weight: 100;
}

div#personal {
    text-align: center;
}

div#trana {
    float: left;
    width: 20%;
    background-color: #2980b9;
    height: 100px;
    text-align: center;
}

div#navbar {
    background-color: #2980b9;
    width: 80%;
    float: left;
    height: 100px;
    line-height: 100px;
}

div#info, div#pers, div#adress, div#kontakt {
    float: left;
    width: 50%;
}

p.text {
    width: calc(100% - 100px);
    float: left;
    padding: 8px;
}

nav {
    width: 100%;
    float: left;
}

p.hummer {
    width: calc(100% - 256px);
    float: left;
    padding: 8px;
}

div#dishes {
    width: 100%;
    float: left;
    padding: 8px;
}

div.dish {
    float: left;
    width: 50%;
}

div.dish > * {
    float: left;
}

#search {
    width: 400px;
    height: 22px;
    color: #101011;
}

input, h3, #button {
    font-weight: 100;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}


a {
    color: white;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

ul.list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    -webkit-transition: background .3s ease-in
}

ul.list li:hover {
    background-color: #2c3e50;
}

#search {
    width: 17px;
}

ul {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


li {
    width: 25%;
}

#hem, #boka, #meny, #om {
    background-color: #2c3e50 !important;
}




